# Ignore all intermediate files in obj
obj/

# Ignore all build files in build
build/

# Object files:
*.o

# Backup files of some editors:
*~

.gitattributes

# Eclipse files:
.project
.cproject
.settings/

# NetBeans files
nbproject/
