# Ignore all intermediate files in obj
obj/

# Ignore all build files in build
build/

# Object files:
*.o

# Backup files of some editors:
*~

# Python bytecode files:
*.pyc

# History of R sessions:
.Rhistory

.gitattributes

# Eclipse files:
.project
.cproject
.settings/

# NetBeans files
nbproject/
